* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  --background: #1C1D21;
  --primary: #BB9BB0;
  --secondary: #e17b77;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--primary);
}

.container {
  padding: 20px 0;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input {
  width: 50vw;
  height: 7vh;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  color: var(--background);
  background-color: var(--primary);
  animation: slide-down 2s;
  border-radius: 50px;
  box-shadow: 1px 1px 10px #222, -1px -1px 10px #222;
}

input:focus {
  outline: none;
}

@keyframes slide-down {
  from {
    transform: translateY(-550px);
  }

  to {
    transform: translateY(0px);
  }
}

.result {
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: slide-up 2s;
}

@keyframes slide-up {
  from {
    transform: translateY(550px);
  }

  to {
    transform: translateY(0px);
  }
}

.user-info {
  padding-top: 10px;
  background: var(--primary);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 65vw;
  border-radius: 50px;
  box-shadow: 1px 1px 10px #222, -1px -1px 10px #222;
}

.user-info img {
  margin-top: 10px;
  border: 1px solid var(--background);
  width: 150px;
}

.user-info a {
  text-decoration: none;
  color: #323031;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timeline-container::after {
  background-color: var(--secondary);
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 90vw;
  max-width: 70%;
  text-align: right;
  color: var(--background);
}

.timeline-item-content::after {
  content: " ";
  background-color: var(--primary);
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #222;
  font-size: 0.9rem;
  font-weight: bold;
}

.timeline-item-content p {
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 24px;
  margin: 15px 0;
  max-width: fit-content;
}

.timeline-item-content a {
  font-size: 1.1rem;
  word-wrap: break-word;
  text-decoration: none;
  font-weight: bold;
  color: var(--background);
}

.timeline-item-content a::after {
  content: " ►";
  font-size: 1rem;
}

.timeline-item-content .circle {
  background-color: var(--background);
  border: 3px solid var(--secondary);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

input:hover,
.user-info:hover {
  transform: scale(1.05);
}

.Toastify__toast {
  border: none;
  text-align: center;
  color: var(--background);
  background-color: var(--primary);
  box-shadow: 1px 1px 10px #222, -1px -1px 10px #222;
}

@media only screen and (max-width: 1023px) {
  .user-info {
    font-size: 0.7rem;
  }

  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  input {
    width: 90vw;
    font-size: 1rem;
  }

  .user-info {
    flex-direction: column;
    font-size: 0.7rem;
  }

  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content p {
    font-size: 1rem;
    word-wrap: break-word;
  }

  .timeline-item-content a {
    font-size: 1rem;
    word-break: break-all;
    text-decoration: underline;
  }

  .timeline-item-content a::after {
    display: none;
  }
}